*
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    display: block;
    background-color: black;
    padding: 0.6em 0 0.6em 0;
}
#page_header
{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
#page_header nav
{
    display: flex;
    gap: 10px;

    margin-right: 3em;
}
#acessoLock_logo
{
    width: 30%;
    margin-left: 1.5em;
}

a
{
    text-decoration: none;
    color: whitesmoke;
}

/* icons-style */
#general_options .material-symbols-outlined
{
    color: #1e5fc8;
    position: relative;
    top: 7px;
}


@media (max-width: 600px)
{
    #acessoLock_logo
    {
        width: 40%;
    }
    #acessolock_diferencial
    {
        justify-content: center !important;
    }
    .diferencial
    {
        width: 100% !important;
    }
    #acessolock_produtos
    {
        justify-content: center !important;
    }
    .produtos
    {
        width: 100% !important;
    }

    #row
    {
        flex-wrap: wrap;
    }
}