

#landpage_generic_image_section
{
    width: 100%;
    height: fit-content;

    background-image: url('../img/imagem_generica_landpage.jpg');
    background-size: cover;
}

#landpage_generic_image_section div
{
    display: flex;
    flex-direction: column;

    padding: 12em 0 12em 0;

    text-align: center;
    color: whitesmoke;
    backdrop-filter: blur(0px);
}
#landpage_generic_image_section div a
{
    margin: 19px auto auto auto;
    padding: 15px;
    border-radius: 15px;
    background-color: blue;
}
#landpage_generic_image_section div h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}


#landpage_diferencial_section
{
    width: 60%;
    margin: auto;
}
#acessolock_diferencial
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;

    margin: 1.2em auto auto auto;
}
.diferencial
{
    flex-basis: 200px;

    display: flex;
    flex-direction: column;
    
    width: 46%;

    text-align: center;
    background-color: #ffffff;
    
    border: 0.7px solid  #b6b6b6;
    border-radius: 5px;
}
.diferencial div
{
    margin: 5px 0 5px 0;
}


#landpage_produtos_section
{
    width: 100%;
    margin: 1.5em auto auto auto;
    padding-bottom: 3em;

    background-color: whitesmoke;
}
#landpage_produtos_section h2
{
    text-align: center;
}

#acessolock_produtos
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;

    margin: 1.2em auto auto auto;
}


/* .diferencial, */
.produtos
{
    flex-basis: 200px;

    display: flex;
    flex-direction: column;
    
    width: 46%;

    text-align: center;
    background-color: #ffffff;
    
    border: 0.7px solid  #e2e2e2;
    border-radius: 5px;
    transition: 0.1s;
}
.produtos:hover
{
    transform: scale(102%);
}
.produtos div a
{
    color: black;
}

#landpage_footer
{
    display: flex;

    padding: 10px 10px 10px 10px;

    color: whitesmoke;
    background-color: #080808;
}